<div class="like-link" id="like-link-<%= story.id %>">
  <% if current_user.likes.find_by(story_id: story.id) %>
    <%= link_to like_path(story.id), method: :delete, remote: true do %>
        <div class = "iine__button">読んで良かった❤️<%= story.likes.count %></div>
    <% end %>
  <% else %>
    <%= link_to likes_path(story.id), method: :post, remote: true do %>
        <div class = "iine__button">読んで良かった♡️<%= story.likes.count %></div>
    <% end %>
  <% end %>
</div>
