<%= render 'application/titlebar' %>
<div class="container-latest">
  <%= render 'application/toolbar' %>
  <div class="main">
    <div class="category-bar" id="category-wall">
      <div class="bar">
        <img src="<%= @category.image %>" alt="<%= @category.name %>">
        <p><%= @category.name %></p>
      </div>
    </div>
    <div class="main-contents">
      <div class="contents-container clearfix">
        <div class="layout-column-main">
          <div class="order-main">
            <div class="order-menus">
              <%= link_to "人気" %>
                <span data-is="raw" content="人気"></span>
                <span data-is="raw" content="新着">
                  <%= link_to '新着', newest_category_path(@category) %>
                </span>
                  <%= link_to '昔の投稿' %>
                <span data-is="raw" content="昔の投稿"></span>
            </div>
          </div>
          <div class="story-list clearfix">
            <%= render 'categorys/category-story-box'%>
          </div>
          <div data-is="category__paginate">
            <%= paginate(@story) %>
          </div>
          <%= render 'layouts/recommend' %>
        </div>
          <div class="all-count">
            全 <span> 000 </span> ストーリー
          </div>
          <%= render 'latest/rightside' %>
        </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
