<%= render 'application/titlebar' %>
<div class="container-latest">
  <%= render 'application/toolbar' %>
  <div class="main">
    <div class="contents">
      <div class="contents-container clearfix">
        <div class="layout-column-main">
          <h1 class="h1-global">
            <i class="fa fa-flash"></i>
            殿堂入りのストーリー</h1>
          <div class="story-list clearfix">
            <%= render partial: "latest/story-box", collection: @storys, as:"story" %>
          </div>
          <%= render 'layouts/pagenation' %>
          <div id="_popIn_recommend"></div>
        </div>
      </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
