<div class="topbarwrapper">
  <div data-is="titlebar-wrapper">
    <div class="titlebar">
      <div class="titlebar-container">
        <div class="left">
          <div class="header-search">
            <form>
              <div class="search-wrapper">
                <button class="search-btn" type="submit">
                  <i class="fa fa-search"></i>
                </button>
                <input class="input-search" type="text" name="q" placeholder="ストーリーを検索...">
              </div>
            </form>
          </div>
        </div>
        <a class="logo" href="/">
          <%= image_tag "https://storys.jp/images/layouts/logo-white.png", class: "logo-image", alt: "storys.jp" %>
        </a>
        <div class="right">
          <div class="header-menu">
            <div class="inner clearfix">
              <div class="dropdown">
                <% if user_signed_in? %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                    <% else %>
                  <%= link_to "ログイン", new_user_session_path, class: 'post' %>
                  <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
                <% end %>
              </div>
                <% if user_signed_in? %>
                <%= link_to "#{current_user.name}", user_path(current_user.id), class: "name"%>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-is="categorybar-wrapper">
    <div class="categorybar">
      <div class="category-container">
        <div class="menu">
          <a class=" category__bg__after top" href="/"><span data-is="print" label="TOP">TOP</span></a>
          <a class=" category__bg__after latest" href="/latest"><span data-is="print" label="新着">新着</span></a>
          <a class=" category__bg__after legend" href="/legend"><span data-is="print" label="殿堂入り">殿堂入り</span></a>
          <% @categorys.each do |category| %>
            <%= link_to category.name, category_path(category), class:"category__bg__after categories" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
